.cat {
    -webkit-animation: mover 12s infinite  alternate;
    animation: mover 12s infinite  alternate;
    position: fixed;
    z-index: 999;
    left: 40%;
    top: -10%;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(+100vh); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(+100vh); }
}

@media screen and (max-width: 480px) {
    .cat {
        left: 85%;
    }
}